 <!-- ------------------------------------------------------------------------------
 --------------------------------Create an Account------------------------------ -->
<div class="about-us-login">

    <div class="sign-in col-lg-4 col-md-4 col-xs-4">
       <a class="sig" (click)="setActive(1)">Create Account</a>
     </div>
 
     <div class="cancel col-lg-8 col-md-8 col-xs-8">
       <a class="canc" routerLink="/home">
         <span>
           Cancel
           <i class="fas fa-times"></i>
         </span>
       </a>
     </div>
 
 </div>
 
 <form class="form-head">
 
   <i>
     <input type="text" class="form-group" placeholder="email*">
     <br>
     <input type="text" class="form-group" placeholder="password*">
     <br>
     <input type="text" class="form-group" placeholder="confirm password*">
   </i>
   <br>
 
  <a class="forgot" href=""><label class="contain">I accept Terms and Conditions
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label></a>
   <br>
 
   <input type="submit" routerLink="/create-acct-component" value="NEXT" class="sign" />
   <br>
 
   <a class="create" href="">I already have an account</a>
   <br>
 </form>

 <!--------------------------------------------------------------------------------
 --------------------------------Your Information------------------------------ -->
 <div class="about-us-login">

    <div class="sign-in col-lg-4 col-md-4 col-xs-4">
       <a class="sig" (click)="setActive(2)">Your Information</a>
     </div>
 
     <div class="cancel col-lg-8 col-md-8 col-xs-8">
       <a class="canc" routerLink="/home">
         <span>
           Cancel
           <i class="fas fa-times"></i>
         </span>
       </a>
     </div>
 
 </div>
 
 <form class="form-head">
 
   <i>
     <input type="text" class="form-group" placeholder="first name*">
     <br>
     <input type="text" class="form-group" placeholder="last name*">
     <br>
     <input type="text" class="form-group" placeholder="date of birth*">
     <br>
     <input type="text" class="form-group" placeholder="Gender*">
   </i>
   <br>
 
 
   <input type="submit" value="NEXT" class="sign" />
   <br>

 </form>

<!--------------------------------------------------------------------------------
 --------------------------------Your Contacts -------------------------------- -->

 <div class="about-us-login">

    <div class="sign-in col-lg-4 col-md-4 col-xs-4">
       <a class="sig" (click)="setActive(3)">Your Contacts</a>
     </div>
 
     <div class="cancel col-lg-8 col-md-8 col-xs-8">
       <a class="canc" routerLink="/home">
         <span>
           Cancel
           <i class="fas fa-times"></i>
         </span>
       </a>
     </div>
 
 </div>
 
 <form class="form-head">
 
   <i>
     <input type="text" class="form-group" placeholder="Phone number*">
     <br>
     <input type="text" class="form-group" placeholder="Address line2">
     <br>
     <input type="text" class="form-group" placeholder="City/Town">
     <br>
     <input type="text" class="form-group" placeholder="Zip code">
   </i>
   <br>
 
 
   <input type="submit" value="NEXT" class="sign" />
   <br>

 </form>
<!--------------------------------------------------------------------------------
 -------------------------------- Credit Card ---------------------------------- -->

 <div class="about-us-login">

    <div class="sign-in col-lg-4 col-md-4 col-xs-4">
       <a class="sig" (click)="setActive(4)">Your Contacts</a>
     </div>
 
     <div class="cancel col-lg-8 col-md-8 col-xs-8">
       <a class="canc" routerLink="/home">
         <span>
           Cancel
           <i class="fas fa-times"></i>
         </span>
       </a>
     </div>
 
 </div>
 
 <form class="form-head">
 
   <i>
     <input type="text" class="form-group" placeholder="Card number*">
     <br>
     <input type="text" class="form-group" placeholder="Cardholder name*">
     <br>
     <input type="text" class="form-group" placeholder="Expiration date*">
     <br>
     <p class="form-group">
       Last 3 digits on the reverse side<br>
       of your card
     </p>
     <input type="text" class="form-group" placeholder="CVV*">
   </i>
   <br>
 
 
   <input type="submit" value="NEXT" class="sign" />
   <br>

 </form>
<!--------------------------------------------------------------------------------
 -------------------------------- Thank You ------------------------------------ -->
 <div class="about-us-login">

    <div class="sign-in col-lg-4 col-md-4 col-xs-4">
       <a class="sig" (click)="setActive(5)">Thank you!</a>
     </div>
 
     <div class="cancel col-lg-8 col-md-8 col-xs-8">
       <a class="canc" routerLink="/home">
   
       </a>
     </div>
 
 </div>
 
 <form class="form-head">

     <p>
        <b>Your account has been created.</b><br>
       Now,please fill in your medical profile.This will
       help our doctors get better and faster access to all
       the nessesary information.
     </p>

   <br>
 
 
   <input type="submit" value="START" class="sign" />
   <br>

 </form>
 <!--------------------------------------------------------------------------------
 -------------------------------- Medical Conditions --------------------------- -->
 <div class="about-us-login">

  <div class="sign-in col-lg-4 col-md-4 col-xs-4">
     <a class="sig" (click)="setActive(6)">Medical Conditions</a>
   </div>

   <div class="cancel col-lg-8 col-md-8 col-xs-8">
     <a class="canc" routerLink="/home">
       <span>
         Skip
         <i class="fas fa-arrow-right"></i>
       </span>
     </a>
   </div>

</div>

<form class="form-head">
<p>
  Please, let us know if you have any of these medical conditions.
</p>

<a class="forgot" href=""><label class="contain">Cancer
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label></a>


 <a class="forgot" href=""><label class="contain">Diabetes
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Heart Disease
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Stroke
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">High Blood Pressure
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">High Cholesterol
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Astma
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


 <input type="submit" routerLink="/create-acct-component" value="NEXT" class="sign" />
 <br>


</form>

 
  <!--------------------------------------------------------------------------------
 -------------------------------- Symptoms ------------------------------------- -->
 <div class="about-us-login">

  <div class="sign-in col-lg-4 col-md-4 col-xs-4">
     <a class="sig" (click)="setActive(7)">Symptoms</a>
   </div>

   <div class="cancel col-lg-8 col-md-8 col-xs-8">
     <a class="canc" routerLink="/home">
       <span>
         Skip
         <i class="fas fa-arrow-right"></i>
       </span>
     </a>
   </div>

</div>

<form class="form-head">
<p>
  Please, let us know if you have any of these Symptoms.
</p>

<a class="forgot" href=""><label class="contain">Fever
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label></a>


 <a class="forgot" href=""><label class="contain">Weight loss/gain
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Difficulty sleeping
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Loss of appetite
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Mood changes
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Fatigue/Weakness
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


<a class="forgot" href=""><label class="contain">Foreign travel (past month)
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label></a>


 <input type="submit" routerLink="/create-acct-component" value="NEXT" class="sign" />
 <br>


</form>

<!--------------------------------------------------------------------------------
 -------------------------------- Allergies ------------------------------------ -->
 <div class="about-us-login">

  <div class="sign-in col-lg-4 col-md-4 col-xs-4">
     <a class="sig" (click)="setActive(7)">Allergies</a>
   </div>

   <div class="cancel col-lg-8 col-md-8 col-xs-8">
     <a class="canc" routerLink="/home">
       <span>
         Skip
         <i class="fas fa-arrow-right"></i>
       </span>
     </a>
   </div>

</div>

<form class="form-head">
<p>
  Please, let us know if you have any allergies
</p>

<b><input type="text" class="form-group" placeholder="Piniciline"><i class="fas fa-times-circle"></i></b>
  <br>
  <i>
  <input type="text" class="form-group" placeholder="Allergy">
  <br>
</i>
<br>

<input type="submit" routerLink="/home" value="ADD ALLERGY" class="allergy-btn" />

 <input type="submit" routerLink="/create-acct-component" value="NEXT" class="sign" />
 <br>


</form>

<!--------------------------------------------------------------------------------
 -------------------------------- Medications ---------------------------------- -->
 <div class="about-us-login">

  <div class="sign-in col-lg-4 col-md-4 col-xs-4">
     <a class="sig" (click)="setActive(7)">Medications</a>
   </div>

   <div class="cancel col-lg-8 col-md-8 col-xs-8">
     <a class="canc" routerLink="/home">
       <span>
         Skip
         <i class="fas fa-arrow-right"></i>
       </span>
     </a>
   </div>

</div>

<form class="form-head">
<p>
  Please, let us know if you have are currently taking any medications and if so,how long?
</p>

<b><input type="text" class="form-group" placeholder="Augmentine"><i class="fas fa-times-circle"></i></b>
  <br>
  <i>
  <input type="text" class="form-group" placeholder="Medication name">
  <br>
</i>
<br>

<input type="submit" routerLink="/home" value="ADD ANOTHER MEDICATION" class="allergy-btn" />

 <input type="submit" routerLink="/create-acct-component" value="NEXT" class="sign" />
 <br>


</form>

 <!--------------------------------------------------------------------------------
 -------------------------------- Thank You ------------------------------------ -->
 <div class="about-us-login">

  <div class="sign-in col-lg-4 col-md-4 col-xs-4">
     <a class="sig" (click)="setActive(5)">Thank you!</a>
   </div>

   <div class="cancel col-lg-8 col-md-8 col-xs-8">
    <a class="canc" routerLink="/home">
      <span>
        Skip
        <i class="fas fa-arrow-right"></i>
      </span>
    </a>
  </div>

</div>

<form class="form-head">

   <p>
      <b>Your medical profile has been updated.</b><br>
      Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed so eiusmod tempor incididunt ut labore et dolore magna aliqua.
   </p>

 <br>


 <input type="submit" value="OK,GREAT!" class="sign" />
 <br>

</form>

 <!--------------------------------------------------------------------------------
 -------------------------------- ------------ -------------------------------- -->