.form-group {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px dashed;
  border-bottom-color: #c6c5c5;
  background-color: #f8f8f8;
  margin-top: 24px;
  padding-left: none;
  width: 280px;
}

.form-group-gender {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: #f8f8f8;
  float: left;
  width: 70px;
  padding-top: 12px;
}

.forgot {
  color: #c5c5c4;
  margin-top: 15px;
  line-height: 15px;
  text-decoration: none;
  padding-left: 3px;
}

.create {
  color: #f36769;
  margin-left: 90px;
  line-height: 75px;
  font-size: 15px;
  text-decoration: underline;
}

.form-head {
  background-color: #f8f8f8;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}

.sign {
  border: 1px dashed #f35e60;
  height: 57px;
  width: 348px;
  color: white;
  background-color: #f35e60;
  font-weight: 600 !important;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 300px;
  margin-left: 0px;
}

.sign-in {
  text-align: left;
  color: #f35e60;
  height: 38px;
  background-color: white;
  position: relative;
}

.cancel {
  text-align: right;
  position: relative;
  color: #c8ccd0;
  height: 38px;
  background-color: #c8ccd0;
}

.sig {
  float: left;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: #f35e60;
}

.canc {
  float: right;
  margin-top: 14px;
  margin-right: 3px;
  font-size: 15px;
  color: white;
  font-weight: 550 !important;
}

.cancel::after {
  background: #c8ccd0 none repeat scroll 0 0;
  content: "";
  width: 50px;
  height: 38px;
  transform: skew(18deg);
  left: -10px;
  position: absolute;
  border-radius: 3px;
}

.cancel {
  text-align: right;
  position: relative;
  color: #c8ccd0;
  height: 38px;
  background-color: #c8ccd0;
}

.about-us-login {
  position: fixed;
  width: 100%;
  border-top: 44px solid #c8ccd0;
  border-bottom: 8px solid #ffffff;
  z-index: 999;
}


/*------------------------------------------Check Box-------------------------------*/

input[type="checkbox"]:checked + label {
    color: #f35e60;
}
input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.1ex;
   height: 0.8ex;
   background: rgba(0, 0, 0, 0);
   top: 4px;
   left: 4px;
   border: 2px solid #f35e60;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

input[type="checkbox"] {
   line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 2ex;
   width: 2ex;
   background-color: white;
   border: 1.5px solid rgb(166, 166, 166);
   border-radius: 4px;
   margin-right: 0.5em;
}
.chk-box{
  font-size: 16px;
}

.para-chk{
  color: #c5c5c4;
}
/*--------------------------------------------------------------------------------*/

.allergy-btn {
  border: 1.8px dashed lightgray;
  height: 57px;
  width: 345px;
  color: #f35e60;
  background-color: #f8f8f8;
  font-weight: 600 !important;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 18px;
}

.i-accept {
  color: #b3b3b2;
}

.terms {
  text-decoration: underline;
  color: #f35e60;
}

.rcorners2 {
  border-radius: 50%;
  border: 1.5px dashed lightgray;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 14px;
  margin-top: 28px;
  margin-left: -34px;
  margin-right: -20px;
}

.upload-photo {
  padding: 20px;
}

.para-acct {
  text-align: center;
}

/* ------------------------------Radio Button-------------------------------------- */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 30px;
  padding-right: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #c2c2c2;
  float: left;
}

[type="radio"]:checked+label {
  color: #f35e5f;
  ;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 0px;
  border: 2.4px solid #ddd;
  border-radius: 100%;
  background: #fff;
  padding-right: 0px;
  padding-left: 16px;
  padding-top: 16px;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #f35e5f;
  position: absolute;
  top: 1px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radios {
  float: right;
}
.test-male{
  padding: 14px;
}
.male{
padding-right: 20px;
}
.female{
padding-left: 20px;
}
/* -------------------------------------------------------------------------------- */
/*------------------------------------------Check Box Create acc--------------------*/

input[type="checkbox"]:checked + label {
    color: #f35e60;
}
.accept>input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.1ex;
   height: 0.8ex;
   background: rgba(0, 0, 0, 0);
   top: 8px;
   left: 3px;
   border: 2px solid #f35e60;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

input[type="checkbox"] {
   line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 2ex;
   width: 2ex;
   background-color: white;
   border: 1.5px solid rgb(166, 166, 166);
   border-radius: 4px;
   margin-right: 0.5em;
}